.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: lightblue;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#search {
  margin: 2em 0;
  height: 2em;
  border-radius: 0.2em;
  line-height: 2em;
}

